@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body 
{

  height:3400px;
  background: linear-gradient(180deg, #a7ebf9 , #35aebf , #095887, #020117 );
  align-items: space-around;
  align-items: column;
}


pre{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
  display:flex; 
  justify-content:center;
  padding-top:200px;
  padding-left: 100px;


}

h1 {   font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: lightblue;
  text-decoration: none;
  font-style:italic;
  display:flex; 
  justify-content:center;
  padding: 100px;
  position:absolute;

  
}

.content
{
  position:relative;
}

.content h1
{ position:absolute;
  color: #fff; }

.content h1:nth-child(1)
{ color: transparent;
-webkit-text-stroke: 2px #151B54; }

.content h1:nth-child(2)
{ color: #151B54;
animation: animate 4s ease-in-out infinite; }

@keyframes animate
{ 0%,100%

  {clip-path: polygon(0 30%, 9% 33%, 18% 40%, 32% 48%, 47% 61%, 63% 66%, 79% 71%, 95% 68%, 100% 61%, 100% 99%, 1% 99%);}
  50%
  {
clip-path: polygon(0 57%, 13% 65%, 33% 66%, 46% 61%, 57% 55%, 68% 45%, 76% 37%, 88% 34%, 100% 36%, 100% 99%, 1% 99%);}
